// Set {{argumentName}} from context {{javaPropertyName}}
if (ctx.get{{javaPropertyNameBig}}() != null) {
ocs.setDate({{sequenceNumber}}, Date.valueOf(ctx.get{{javaPropertyNameBig}}()));
} else {
ocs.setNull({{sequenceNumber}}, Types.{{JDBCType}});
}
