// Set {{argumentName}} from context {{javaPropertyName}}
ocs.setObject({{sequenceNumber}}, {{underlyingTypeName}}Converter.getListArray(ctx.get{{javaPropertyNameBig}}(), connection, "{{origTypeName}}"));