// Set {{argumentName}} from context {{javaPropertyName}}
if (ctx.get{{javaPropertyNameBig}}() != null) {
ocs.setObject({{sequenceNumber}}, {{javaDataType}}Converter.getStruct(ctx.get{{javaPropertyNameBig}}(), connection));
} else {
ocs.setNull({{sequenceNumber}}, Types.{{oracleType}}, "{{origTypeName}}");
}
