package {{javaPackageName}};

import {{contextPackage}}.*;
import {{converterPackage}}.*;
import {{objectPackage}}.*;

{{#configuration.jakarta}}
import jakarta.annotation.Generated;
{{/configuration.jakarta}}
{{^configuration.jakarta}}
import javax.annotation.Generated;
{{/configuration.jakarta}}
import javax.sql.DataSource;
import java.math.BigDecimal;
import java.sql.*;
import java.util.List;
import java.util.Arrays;
import java.time.LocalDate;

@Generated("org.obridge.generators.PackageObjectGenerator")
public final class {{javaClassName}} {

    {{#loggingInitializer}}
    {{& loggingInitializer}}
    {{/loggingInitializer}}

    private {{javaClassName}}() {
    }

    {{#procedureList}}

    public static void {{javaProcedureName}}({{contextPackage}}.{{storedProcedureClassName}} ctx, Connection connection) {
        try {
            final CallableStatement ocs = connection.prepareCall({{& callString}});
            try {
                {{#bindParams}}
                {{#inParam}}
                {{& paramSet}}
                {{/inParam}}
                {{#outParam}}
                {{& regOutput}}
                {{/outParam}}
                {{/bindParams}}
                {{#loggingMethod}}
                {{loggingMethod}}("{{javaClassName}}.{{javaProcedureName}} called");
                {{/loggingMethod}}
                ocs.execute();
                {{#loggingMethod}}
                {{loggingMethod}}("{{javaClassName}}.{{javaProcedureName}} executed");
                {{/loggingMethod}}
                {{#bindParams}}
                {{#outParam}}
                {{& paramGet}}
                {{/outParam}}
                {{/bindParams}}
            } finally  {
                {{^hasResultSetParam}}
                ocs.close();
                {{/hasResultSetParam}}
                {{#hasResultSetParam}}
                // ResultSet as return parameter, not closing connection
                {{/hasResultSetParam}}
            }
        } catch (SQLException e) {
            throw new StoredProcedureCallException(e);
        }
    }

    public static {{contextPackage}}.{{storedProcedureClassName}} {{javaProcedureName}}({{#argumentList}}{{#inParam}}{{&javaDataType}} {{javaPropertyName}}, {{/inParam}}{{/argumentList}} Connection connection) {
        final {{contextPackage}}.{{storedProcedureClassName}} ctx = new {{contextPackage}}.{{storedProcedureClassName}}();
        {{#argumentList}}
        {{#inParam}}
        ctx.set{{javaPropertyNameBig}}({{javaPropertyName}});
        {{/inParam}}
        {{/argumentList}}

        {{javaProcedureName}}(ctx, connection);

        return ctx;
    }

    {{^hasResultSetParam}}
    public static {{contextPackage}}.{{storedProcedureClassName}} {{javaProcedureName}}({{#argumentList}}{{#inParam}}{{&javaDataType}} {{javaPropertyName}}, {{/inParam}}{{/argumentList}} DataSource dataSource) {


        {{#configuration.useSpringTransactionManager}}
             Connection conn = org.springframework.jdbc.datasource.DataSourceUtils.getConnection(dataSource);
             {{contextPackage}}.{{storedProcedureClassName}} x = {{javaProcedureName}}({{#argumentList}}{{#inParam}}{{javaPropertyName}}, {{/inParam}}{{/argumentList}} conn);
             org.springframework.jdbc.datasource.DataSourceUtils.releaseConnection(conn, dataSource);
             return x;
        {{/configuration.useSpringTransactionManager}}
        {{^configuration.useSpringTransactionManager}}
            try (Connection conn = dataSource.getConnection()) {
                return {{javaProcedureName}}({{#argumentList}}{{#inParam}}{{javaPropertyName}}, {{/inParam}}{{/argumentList}} conn);
            } catch (SQLException e) {
                throw new StoredProcedureCallException(e);
            }
        {{/configuration.useSpringTransactionManager}}
    }
    {{/hasResultSetParam}}


    {{^hasResultSetParam}}
    public static void {{javaProcedureName}}(DataSource dataSource, {{contextPackage}}.{{storedProcedureClassName}} ctx) {


        {{#configuration.useSpringTransactionManager}}
            Connection conn = org.springframework.jdbc.datasource.DataSourceUtils.getConnection(dataSource);
            {{javaProcedureName}}(ctx, conn);
            org.springframework.jdbc.datasource.DataSourceUtils.releaseConnection(conn, dataSource);
        {{/configuration.useSpringTransactionManager}}
        {{^configuration.useSpringTransactionManager}}
            try (Connection conn = dataSource.getConnection()) {
                {{javaProcedureName}}(ctx, conn);
            } catch (SQLException e) {
                throw new StoredProcedureCallException(e);
            }
        {{/configuration.useSpringTransactionManager}}
    }
    {{/hasResultSetParam}}


    {{/procedureList}}

}
