package {{javaPackageName}};

import java.sql.SQLException;

public class StoredProcedureCallException extends RuntimeException {
    public StoredProcedureCallException(SQLException e) {
        super(e);
    }
}
