package {{javaPackageName}};

import javax.annotation.processing.Generated;
import java.sql.SQLException;

@Generated(
        value = "org.obridge.generators.PackageObjectGenerator"{{#currentDateTime}},
        date = "{{currentDateTime}}"{{/currentDateTime}}{{#comment}},
        comments = "{{comment}}"
    {{/comment}}
)
public class StoredProcedureCallException extends RuntimeException {
    public StoredProcedureCallException(SQLException e) {
        super(e);
    }
}
